/* body{
    font-family: 'Hind';
} */

body{
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    text-rendering: optimizeLegibility;
}
@import '../fonts/stylesheet.css'